@import "config";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: $background;
  font-family: "Muli", sans-serif;
}
